In [9]:
import requests
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings('ignore')

In [10]:
def get_team_links(league_year):
    league_url = f'https://fbref.com/en/comps/9/{league_year}/{league_year}-Premier-League-Stats' 
    data = requests.get(league_url)
    print(data)
    soup = BeautifulSoup(data.text)
    league_standings = soup.select('table.stats_table')[0]
    links = league_standings.find_all('a')
    links = [l.get('href') for l in links]
    links = [ l for l in links if '/squads/' in l]
    team_links = [f'https://fbref.com{l}' for l in links ]
    return team_links

In [11]:
years = ['2023-2024']

In [12]:
team_years  = []
for yr in years:
    team_years.append(get_team_links(yr))

<Response [429]>

IndexError: list index out of range

In [146]:
team_years

[['https://fbref.com/en/squads/b8fd03ef/Manchester-City-Stats',
  'https://fbref.com/en/squads/361ca564/Tottenham-Hotspur-Stats',
  'https://fbref.com/en/squads/822bd0ba/Liverpool-Stats',
  'https://fbref.com/en/squads/7c21e445/West-Ham-United-Stats',
  'https://fbref.com/en/squads/18bb7c10/Arsenal-Stats',
  'https://fbref.com/en/squads/d07537b9/Brighton-and-Hove-Albion-Stats',
  'https://fbref.com/en/squads/47c64c55/Crystal-Palace-Stats',
  'https://fbref.com/en/squads/cd051869/Brentford-Stats',
  'https://fbref.com/en/squads/e4a775cb/Nottingham-Forest-Stats',
  'https://fbref.com/en/squads/8602292d/Aston-Villa-Stats',
  'https://fbref.com/en/squads/19538871/Manchester-United-Stats',
  'https://fbref.com/en/squads/cff3d9bb/Chelsea-Stats',
  'https://fbref.com/en/squads/fd962109/Fulham-Stats',
  'https://fbref.com/en/squads/b2b47a98/Newcastle-United-Stats',
  'https://fbref.com/en/squads/8cec06e1/Wolverhampton-Wanderers-Stats',
  'https://fbref.com/en/squads/4ba7cbea/Bournemouth-Stats',
  'https://fbref.com/en/squads/1df6b87e/Sheffield-United-Stats',
  'https://fbref.com/en/squads/d3fd31cc/Everton-Stats',
  'https://fbref.com/en/squads/e297cd13/Luton-Town-Stats',
  'https://fbref.com/en/squads/943e8050/Burnley-Stats']]

In [147]:
def get_players_links(team_urls):
    all_player_links = []
    for i in range(len(team_urls)):
        data = requests.get(team_urls[i])
        soup = BeautifulSoup(data.text)
        matchlog = soup.select('table.stats_table')[0]
        player_links = matchlog.find_all('a')    
        player_links = [l.get('href') for l in player_links]
        player_links = [l for l in player_links if '/matchlogs/' in l]
        player_links = [f'https://fbref.com{l}' for l in player_links]
        all_player_links.extend(player_links)
    return all_player_links

In [148]:
def get_season_stats_per_player(all_player_links):
    dataframes = [] 
    from time import sleep
    import pandas as pd
    for i in range (len(all_player_links)):
        name, season = get_name_and_season(all_player_links[i])
        print(f"{name} {season} Premier league season.. {(i+1) / len(all_player_links)} Done" )
        player_stats_link = all_player_links[i]
        player_data  = requests.get(player_stats_link)
        #print(player_data)
        player_matches = pd.read_html(player_data.text, match="Match Logs")[0]
        player_matches.columns = player_matches.columns.droplevel()
        player_df = player_matches[player_matches['Comp'] == 'Premier League']
        player_df['name'] = name 
        player_df['season'] = season
        dataframes.append(player_df)
        sleep(5)
    players_df = pd.concat(dataframes)
    return players_df

In [149]:
def get_name_and_season(url):
    name = url.split('/')[-1].replace("-Match-Logs","")
    name = name.replace('-', ' ')
    season = url.split('/')[7]
    season = season.replace('-', '/')
    #print(f"{name} {season} premier league")
    return name, season

In [150]:
def get_players_overall_stats(team_urls):
    all_player_links = []
    for i in range(len(team_urls)):
        data = requests.get(team_urls[i])
        soup = BeautifulSoup(data.text)
        squadlog = soup.select('table.stats_table')[0]
        squad_info = pd.read_html(squadlog.text, match="Standard Stats")[0]
        all_player_links.extend(squad_info)
    return all_player_links

In [151]:
all_season_stats = [] 
for i in range (len(team_years)):
    players_link = get_players_links(team_years[i])
    all_season_stats.append( get_season_stats_per_player(players_link))

Ederson 2023/2024 Premier league season.. 0.0025380710659898475 Done
Julian Alvarez 2023/2024 Premier league season.. 0.005076142131979695 Done
Kyle Walker 2023/2024 Premier league season.. 0.007614213197969543 Done
Erling Haaland 2023/2024 Premier league season.. 0.01015228426395939 Done
Rodri 2023/2024 Premier league season.. 0.012690355329949238 Done
Mateo Kovacic 2023/2024 Premier league season.. 0.015228426395939087 Done
Phil Foden 2023/2024 Premier league season.. 0.017766497461928935 Done
Manuel Akanji 2023/2024 Premier league season.. 0.02030456852791878 Done
Ruben Dias 2023/2024 Premier league season.. 0.02284263959390863 Done
Nathan Ake 2023/2024 Premier league season.. 0.025380710659898477 Done
Bernardo Silva 2023/2024 Premier league season.. 0.027918781725888325 Done
Josko Gvardiol 2023/2024 Premier league season.. 0.030456852791878174 Done
Jack Grealish 2023/2024 Premier league season.. 0.03299492385786802 Done
Rico Lewis 2023/2024 Premier league season.. 0.03553299492385787 Done
Jeremy Doku 2023/2024 Premier league season.. 0.03807106598984772 Done
Kevin De Bruyne 2023/2024 Premier league season.. 0.04060913705583756 Done
Sergio Gomez 2023/2024 Premier league season.. 0.04314720812182741 Done
Aymeric Laporte 2023/2024 Premier league season.. 0.04568527918781726 Done
Cole Palmer 2023/2024 Premier league season.. 0.048223350253807105 Done
Kalvin Phillips 2023/2024 Premier league season.. 0.050761421319796954 Done
Oscar Bobb 2023/2024 Premier league season.. 0.0532994923857868 Done
James Mcatee 2023/2024 Premier league season.. 0.05583756345177665 Done
Micky van de Ven 2023/2024 Premier league season.. 0.0583756345177665 Done
Guglielmo Vicario 2023/2024 Premier league season.. 0.06091370558375635 Done
Dejan Kulusevski 2023/2024 Premier league season.. 0.06345177664974619 Done
Yves Bissouma 2023/2024 Premier league season.. 0.06598984771573604 Done
James Maddison 2023/2024 Premier league season.. 0.06852791878172589 Done
Destiny Udogie 2023/2024 Premier league season.. 0.07106598984771574 Done
Son Heung min 2023/2024 Premier league season.. 0.07360406091370558 Done
Cristian Romero 2023/2024 Premier league season.. 0.07614213197969544 Done
Pedro Porro 2023/2024 Premier league season.. 0.07868020304568528 Done
Richarlison 2023/2024 Premier league season.. 0.08121827411167512 Done
Pape Matar Sarr 2023/2024 Premier league season.. 0.08375634517766498 Done
Emerson 2023/2024 Premier league season.. 0.08629441624365482 Done
Oliver Skipp 2023/2024 Premier league season.. 0.08883248730964467 Done
Manor Solomon 2023/2024 Premier league season.. 0.09137055837563451 Done
Ivan Perisic 2023/2024 Premier league season.. 0.09390862944162437 Done
Davinson Sanchez 2023/2024 Premier league season.. 0.09644670050761421 Done
Pierre Hojbjerg 2023/2024 Premier league season.. 0.09898477157360407 Done
Ben Davies 2023/2024 Premier league season.. 0.10152284263959391 Done
Giovani Lo Celso 2023/2024 Premier league season.. 0.10406091370558376 Done
Alisson 2023/2024 Premier league season.. 0.1065989847715736 Done
Andrew Robertson 2023/2024 Premier league season.. 0.10913705583756345 Done
Dominik Szoboszlai 2023/2024 Premier league season.. 0.1116751269035533 Done
Mohamed Salah 2023/2024 Premier league season.. 0.11421319796954314 Done
Trent Alexander Arnold 2023/2024 Premier league season.. 0.116751269035533 Done
Alexis Mac Allister 2023/2024 Premier league season.. 0.11928934010152284 Done
Luis Diaz 2023/2024 Premier league season.. 0.1218274111675127 Done
Cody Gakpo 2023/2024 Premier league season.. 0.12436548223350254 Done
Virgil van Dijk 2023/2024 Premier league season.. 0.12690355329949238 Done
Diogo Jota 2023/2024 Premier league season.. 0.12944162436548223 Done
Ibrahima Konate 2023/2024 Premier league season.. 0.1319796954314721 Done
Joel Matip 2023/2024 Premier league season.. 0.13451776649746192 Done
Joe Gomez 2023/2024 Premier league season.. 0.13705583756345177 Done
Darwin Nunez 2023/2024 Premier league season.. 0.13959390862944163 Done
Wataru Endo 2023/2024 Premier league season.. 0.14213197969543148 Done
Curtis Jones 2023/2024 Premier league season.. 0.1446700507614213 Done
Harvey Elliott 2023/2024 Premier league season.. 0.14720812182741116 Done
Jarrell Quansah 2023/2024 Premier league season.. 0.14974619289340102 Done
Ben Doak 2023/2024 Premier league season.. 0.15228426395939088 Done
Kostas Tsimikas 2023/2024 Premier league season.. 0.1548223350253807 Done
Alphonse Areola 2023/2024 Premier league season.. 0.15736040609137056 Done
Jarrod Bowen 2023/2024 Premier league season.. 0.1598984771573604 Done
Vladimir Coufal 2023/2024 Premier league season.. 0.16243654822335024 Done
Emerson Palmieri 2023/2024 Premier league season.. 0.1649746192893401 Done
Kurt Zouma 2023/2024 Premier league season.. 0.16751269035532995 Done
Lucas Paqueta 2023/2024 Premier league season.. 0.1700507614213198 Done
Michail Antonio 2023/2024 Premier league season.. 0.17258883248730963 Done
Said Benrahma 2023/2024 Premier league season.. 0.1751269035532995 Done
James Ward Prowse 2023/2024 Premier league season.. 0.17766497461928935 Done
Nayef Aguerd 2023/2024 Premier league season.. 0.1802030456852792 Done
Tomas Soucek 2023/2024 Premier league season.. 0.18274111675126903 Done
Edson Alvarez 2023/2024 Premier league season.. 0.18527918781725888 Done
Pablo Fornals 2023/2024 Premier league season.. 0.18781725888324874 Done
Angelo Ogbonna 2023/2024 Premier league season.. 0.19035532994923857 Done
Danny Ings 2023/2024 Premier league season.. 0.19289340101522842 Done
Thilo Kehrer 2023/2024 Premier league season.. 0.19543147208121828 Done
Maxwel Cornet 2023/2024 Premier league season.. 0.19796954314720813 Done
Kudus Mohammed 2023/2024 Premier league season.. 0.20050761421319796 Done
Aaron Ramsdale 2023/2024 Premier league season.. 0.20304568527918782 Done
William Saliba 2023/2024 Premier league season.. 0.20558375634517767 Done
Ben White 2023/2024 Premier league season.. 0.20812182741116753 Done
Declan Rice 2023/2024 Premier league season.. 0.21065989847715735 Done
Bukayo Saka 2023/2024 Premier league season.. 0.2131979695431472 Done
Martin Odegaard 2023/2024 Premier league season.. 0.21573604060913706 Done
Gabriel Martinelli 2023/2024 Premier league season.. 0.2182741116751269 Done
Kai Havertz 2023/2024 Premier league season.. 0.22081218274111675 Done
Eddie Nketiah 2023/2024 Premier league season.. 0.2233502538071066 Done
Thomas Partey 2023/2024 Premier league season.. 0.22588832487309646 Done
Takehiro Tomiyasu 2023/2024 Premier league season.. 0.22842639593908629 Done
Gabriel Dos Santos 2023/2024 Premier league season.. 0.23096446700507614 Done
Oleksandr Zinchenko 2023/2024 Premier league season.. 0.233502538071066 Done
Jakub Kiwior 2023/2024 Premier league season.. 0.23604060913705585 Done
Leandro Trossard 2023/2024 Premier league season.. 0.23857868020304568 Done
Jurrien Timber 2023/2024 Premier league season.. 0.24111675126903553 Done
Fabio Vieira 2023/2024 Premier league season.. 0.2436548223350254 Done
Jorginho 2023/2024 Premier league season.. 0.24619289340101522 Done
Gabriel Jesus 2023/2024 Premier league season.. 0.24873096446700507 Done
Reiss Nelson 2023/2024 Premier league season.. 0.2512690355329949 Done
Lewis Dunk 2023/2024 Premier league season.. 0.25380710659898476 Done
Pervis Estupinan 2023/2024 Premier league season.. 0.2563451776649746 Done
Kaoru Mitoma 2023/2024 Premier league season.. 0.25888324873096447 Done
Pascal Gross 2023/2024 Premier league season.. 0.2614213197969543 Done
Solly March 2023/2024 Premier league season.. 0.2639593908629442 Done
Billy Gilmour 2023/2024 Premier league season.. 0.26649746192893403 Done
James Milner 2023/2024 Premier league season.. 0.26903553299492383 Done
Danny Welbeck 2023/2024 Premier league season.. 0.2715736040609137 Done
Joao Pedro 2023/2024 Premier league season.. 0.27411167512690354 Done
Evan Ferguson 2023/2024 Premier league season.. 0.2766497461928934 Done
Jan Paul van Hecke 2023/2024 Premier league season.. 0.27918781725888325 Done
Jason Steele 2023/2024 Premier league season.. 0.2817258883248731 Done
Bart Verbruggen 2023/2024 Premier league season.. 0.28426395939086296 Done
Adam Webster 2023/2024 Premier league season.. 0.2868020304568528 Done

Joel Veltman 2023/2024 Premier league season.. 0.2893401015228426 Done
Mahmoud Dahoud 2023/2024 Premier league season.. 0.2918781725888325 Done
Julio Cesar Enciso 2023/2024 Premier league season.. 0.29441624365482233 Done
Adam Lallana 2023/2024 Premier league season.. 0.2969543147208122 Done
Simon Adingra 2023/2024 Premier league season.. 0.29949238578680204 Done
Tariq Lamptey 2023/2024 Premier league season.. 0.3020304568527919 Done
Joachim Andersen 2023/2024 Premier league season.. 0.30456852791878175 Done
Jordan Ayew 2023/2024 Premier league season.. 0.30710659898477155 Done
Cheick Doucoure 2023/2024 Premier league season.. 0.3096446700507614 Done
Eberechi Eze 2023/2024 Premier league season.. 0.31218274111675126 Done
Sam Johnstone 2023/2024 Premier league season.. 0.3147208121827411 Done
Jefferson Lerma 2023/2024 Premier league season.. 0.31725888324873097 Done
Tyrick Mitchell 2023/2024 Premier league season.. 0.3197969543147208 Done
Marc Guehi 2023/2024 Premier league season.. 0.3223350253807107 Done
Joel Ward 2023/2024 Premier league season.. 0.3248730964467005 Done
Odsonne Edouard 2023/2024 Premier league season.. 0.32741116751269034 Done
Jeffrey Schlupp 2023/2024 Premier league season.. 0.3299492385786802 Done
Jean Philippe Mateta 2023/2024 Premier league season.. 0.33248730964467005 Done
Naouirou Ahamada 2023/2024 Premier league season.. 0.3350253807106599 Done
Jesuran Rak Sakyi 2023/2024 Premier league season.. 0.33756345177664976 Done
Will Hughes 2023/2024 Premier league season.. 0.3401015228426396 Done
James Tomkins 2023/2024 Premier league season.. 0.3426395939086294 Done
Mark Flekken 2023/2024 Premier league season.. 0.34517766497461927 Done
Rico Henry 2023/2024 Premier league season.. 0.3477157360406091 Done
Bryan Mbeumo 2023/2024 Premier league season.. 0.350253807106599 Done
Ethan Pinnock 2023/2024 Premier league season.. 0.35279187817258884 Done
Vitaly Janelt 2023/2024 Premier league season.. 0.3553299492385787 Done
Christian Norgaard 2023/2024 Premier league season.. 0.35786802030456855 Done
Yoane Wissa 2023/2024 Premier league season.. 0.3604060913705584 Done
Aaron Hickey 2023/2024 Premier league season.. 0.3629441624365482 Done
Mathias Jensen 2023/2024 Premier league season.. 0.36548223350253806 Done
Nathan Collins 2023/2024 Premier league season.. 0.3680203045685279 Done
Kevin Schade 2023/2024 Premier league season.. 0.37055837563451777 Done
Kristoffer Ajer 2023/2024 Premier league season.. 0.3730964467005076 Done
Ben Mee 2023/2024 Premier league season.. 0.3756345177664975 Done
Mikkel Damsgaard 2023/2024 Premier league season.. 0.37817258883248733 Done
Keane Lewis Potter 2023/2024 Premier league season.. 0.38071065989847713 Done
Frank Onyeka 2023/2024 Premier league season.. 0.383248730964467 Done
Mads Roerslev 2023/2024 Premier league season.. 0.38578680203045684 Done
Shandon Baptiste 2023/2024 Premier league season.. 0.3883248730964467 Done
Josh Dasilva 2023/2024 Premier league season.. 0.39086294416243655 Done
Michael Olakigbe 2023/2024 Premier league season.. 0.3934010152284264 Done
Mathias Jorgensen 2023/2024 Premier league season.. 0.39593908629441626 Done
Morgan Gibbs White 2023/2024 Premier league season.. 0.39847715736040606 Done
Matt Turner 2023/2024 Premier league season.. 0.4010152284263959 Done
Serge Aurier 2023/2024 Premier league season.. 0.4035532994923858 Done
Willy Boly 2023/2024 Premier league season.. 0.40609137055837563 Done
Joe Worrall 2023/2024 Premier league season.. 0.4086294416243655 Done
Scott McKenna 2023/2024 Premier league season.. 0.41116751269035534 Done
Danilo 2023/2024 Premier league season.. 0.4137055837563452 Done
Ryan Yates 2023/2024 Premier league season.. 0.41624365482233505 Done
Taiwo Awoniyi 2023/2024 Premier league season.. 0.41878172588832485 Done
Brennan Johnson 2023/2024 Premier league season.. 0.4213197969543147 Done
Ola Aina 2023/2024 Premier league season.. 0.42385786802030456 Done
Orel Mangala 2023/2024 Premier league season.. 0.4263959390862944 Done
Neco Williams 2023/2024 Premier league season.. 0.4289340101522843 Done
Anthony Elanga 2023/2024 Premier league season.. 0.43147208121827413 Done
Chris Wood 2023/2024 Premier league season.. 0.434010152284264 Done
Cheikhou Kouyate 2023/2024 Premier league season.. 0.4365482233502538 Done
Moussa Niakhate 2023/2024 Premier league season.. 0.43908629441624364 Done
Gonzalo Montiel 2023/2024 Premier league season.. 0.4416243654822335 Done
Nuno Tavares 2023/2024 Premier league season.. 0.44416243654822335 Done
Boubacar Kamara 2023/2024 Premier league season.. 0.4467005076142132 Done
Ezri Konsa 2023/2024 Premier league season.. 0.44923857868020306 Done
Matty Cash 2023/2024 Premier league season.. 0.4517766497461929 Done
Lucas Digne 2023/2024 Premier league season.. 0.4543147208121827 Done
John McGinn 2023/2024 Premier league season.. 0.45685279187817257 Done
Ollie Watkins 2023/2024 Premier league season.. 0.4593908629441624 Done
Moussa Diaby 2023/2024 Premier league season.. 0.4619289340101523 Done
Douglas Luiz 2023/2024 Premier league season.. 0.46446700507614214 Done
Pau Torres 2023/2024 Premier league season.. 0.467005076142132 Done
Emiliano Martinez 2023/2024 Premier league season.. 0.46954314720812185 Done
Diego Carlos 2023/2024 Premier league season.. 0.4720812182741117 Done
Leon Bailey 2023/2024 Premier league season.. 0.4746192893401015 Done
Robin Olsen 2023/2024 Premier league season.. 0.47715736040609136 Done
Tyrone Mings 2023/2024 Premier league season.. 0.4796954314720812 Done
Youri Tielemans 2023/2024 Premier league season.. 0.48223350253807107 Done
Nicolo Zaniolo 2023/2024 Premier league season.. 0.4847715736040609 Done
Jhon Duran 2023/2024 Premier league season.. 0.4873096446700508 Done
Philippe Coutinho 2023/2024 Premier league season.. 0.48984771573604063 Done
Bertrand Traore 2023/2024 Premier league season.. 0.49238578680203043 Done
Cameron Archer 2023/2024 Premier league season.. 0.4949238578680203 Done
Jaden Philogene Bidace 2023/2024 Premier league season.. 0.49746192893401014 Done
Casemiro 2023/2024 Premier league season.. 0.5 Done
Bruno Fernandes 2023/2024 Premier league season.. 0.5025380710659898 Done
Andre Onana 2023/2024 Premier league season.. 0.5050761421319797 Done
Marcus Rashford 2023/2024 Premier league season.. 0.5076142131979695 Done
Aaron Wan Bissaka 2023/2024 Premier league season.. 0.5101522842639594 Done
Antony 2023/2024 Premier league season.. 0.5126903553299492 Done
Lisandro Martinez 2023/2024 Premier league season.. 0.5152284263959391 Done
Raphael Varane 2023/2024 Premier league season.. 0.5177664974619289 Done
Christian Eriksen 2023/2024 Premier league season.. 0.5203045685279187 Done
Diogo Dalot 2023/2024 Premier league season.. 0.5228426395939086 Done
Luke Shaw 2023/2024 Premier league season.. 0.5253807106598984 Done
Mason Mount 2023/2024 Premier league season.. 0.5279187817258884 Done
Alejandro Garnacho 2023/2024 Premier league season.. 0.5304568527918782 Done
Anthony Martial 2023/2024 Premier league season.. 0.5329949238578681 Done
Victor Lindelof 2023/2024 Premier league season.. 0.5355329949238579 Done
Jadon Sancho 2023/2024 Premier league season.. 0.5380710659898477 Done
Rasmus Hojlund 2023/2024 Premier league season.. 0.5406091370558376 Done
Harry Maguire 2023/2024 Premier league season.. 0.5431472081218274 Done
Facundo Pellistri 2023/2024 Premier league season.. 0.5456852791878173 Done
Scott McTominay 2023/2024 Premier league season.. 0.5482233502538071 Done
Jonny Evans 2023/2024 Premier league season.. 0.550761421319797 Done
Levi Colwill 2023/2024 Premier league season.. 0.5532994923857868 Done
Axel Disasi 2023/2024 Premier league season.. 0.5558375634517766 Done
Enzo Fernandez 2023/2024 Premier league season.. 0.5583756345177665 Done
Robert Sanchez 2023/2024 Premier league season.. 0.5609137055837563 Done
Thiago Silva 2023/2024 Premier league season.. 0.5634517766497462 Done
Nicolas Jackson 2023/2024 Premier league season.. 0.565989847715736 Done
Raheem Sterling 2023/2024 Premier league season.. 0.5685279187817259 Done
Conor Gallagher 2023/2024 Premier league season.. 0.5710659898477157 Done
Ben Chilwell 2023/2024 Premier league season.. 0.5736040609137056 Done
Malo Gusto 2023/2024 Premier league season.. 0.5761421319796954 Done

Moises Caicedo 2023/2024 Premier league season.. 0.5786802030456852 Done
Carney Chukwuemeka 2023/2024 Premier league season.. 0.5812182741116751 Done
Reece James 2023/2024 Premier league season.. 0.583756345177665 Done
Mykhailo Mudryk 2023/2024 Premier league season.. 0.5862944162436549 Done
Noni Madueke 2023/2024 Premier league season.. 0.5888324873096447 Done
Ian Maatsen 2023/2024 Premier league season.. 0.5913705583756346 Done
Cole Palmer 2023/2024 Premier league season.. 0.5939086294416244 Done
Mason Burstow 2023/2024 Premier league season.. 0.5964467005076142 Done
Lesley Ugochukwu 2023/2024 Premier league season.. 0.5989847715736041 Done
Issa Diop 2023/2024 Premier league season.. 0.6015228426395939 Done
Bernd Leno 2023/2024 Premier league season.. 0.6040609137055838 Done
Antonee Robinson 2023/2024 Premier league season.. 0.6065989847715736 Done
Kenny Tete 2023/2024 Premier league season.. 0.6091370558375635 Done
Harry Wilson 2023/2024 Premier league season.. 0.6116751269035533 Done
Raul Jimenez 2023/2024 Premier league season.. 0.6142131979695431 Done
Bobby Reid 2023/2024 Premier league season.. 0.616751269035533 Done
Harrison Reed 2023/2024 Premier league season.. 0.6192893401015228 Done
Andreas Pereira 2023/2024 Premier league season.. 0.6218274111675127 Done
Sasa Lukic 2023/2024 Premier league season.. 0.6243654822335025 Done
Tim Ream 2023/2024 Premier league season.. 0.6269035532994924 Done
Tom Cairney 2023/2024 Premier league season.. 0.6294416243654822 Done
Joao Palhinha 2023/2024 Premier league season.. 0.631979695431472 Done
Calvin Bassey 2023/2024 Premier league season.. 0.6345177664974619 Done
Willian 2023/2024 Premier league season.. 0.6370558375634517 Done
Luke Harris 2023/2024 Premier league season.. 0.6395939086294417 Done
Adama Traore 2023/2024 Premier league season.. 0.6421319796954315 Done
Aleksandar Mitrovic 2023/2024 Premier league season.. 0.6446700507614214 Done
Timothy Castagne 2023/2024 Premier league season.. 0.6472081218274112 Done
Rodrigo Muniz 2023/2024 Premier league season.. 0.649746192893401 Done
Tosin Adarabioyo 2023/2024 Premier league season.. 0.6522842639593909 Done
Dan Burn 2023/2024 Premier league season.. 0.6548223350253807 Done
Nick Pope 2023/2024 Premier league season.. 0.6573604060913706 Done
Fabian Schar 2023/2024 Premier league season.. 0.6598984771573604 Done
Kieran Trippier 2023/2024 Premier league season.. 0.6624365482233503 Done
Bruno Guimaraes 2023/2024 Premier league season.. 0.6649746192893401 Done
Miguel Almiron 2023/2024 Premier league season.. 0.6675126903553299 Done
Joelinton 2023/2024 Premier league season.. 0.6700507614213198 Done
Anthony Gordon 2023/2024 Premier league season.. 0.6725888324873096 Done
Sandro Tonali 2023/2024 Premier league season.. 0.6751269035532995 Done
Alexander Isak 2023/2024 Premier league season.. 0.6776649746192893 Done
Sven Botman 2023/2024 Premier league season.. 0.6802030456852792 Done
Matt Targett 2023/2024 Premier league season.. 0.682741116751269 Done
Callum Wilson 2023/2024 Premier league season.. 0.6852791878172588 Done
Harvey Barnes 2023/2024 Premier league season.. 0.6878172588832487 Done
Sean Longstaff 2023/2024 Premier league season.. 0.6903553299492385 Done
Elliot Anderson 2023/2024 Premier league season.. 0.6928934010152284 Done
Jamaal Lascelles 2023/2024 Premier league season.. 0.6954314720812182 Done
Valentino Livramento 2023/2024 Premier league season.. 0.6979695431472082 Done
Jacob Murphy 2023/2024 Premier league season.. 0.700507614213198 Done
Max Kilman 2023/2024 Premier league season.. 0.7030456852791879 Done
Mario Lemina 2023/2024 Premier league season.. 0.7055837563451777 Done
Pedro Neto 2023/2024 Premier league season.. 0.7081218274111675 Done
Jose Sa 2023/2024 Premier league season.. 0.7106598984771574 Done
Nelson Semedo 2023/2024 Premier league season.. 0.7131979695431472 Done
Matheus Cunha 2023/2024 Premier league season.. 0.7157360406091371 Done
Craig Dawson 2023/2024 Premier league season.. 0.7182741116751269 Done
Joao Gomes 2023/2024 Premier league season.. 0.7208121827411168 Done
Rayan Ait Nouri 2023/2024 Premier league season.. 0.7233502538071066 Done
Fabio Silva 2023/2024 Premier league season.. 0.7258883248730964 Done
Matheus Nunes 2023/2024 Premier league season.. 0.7284263959390863 Done
Pablo Sarabia 2023/2024 Premier league season.. 0.7309644670050761 Done
Hwang Hee chan 2023/2024 Premier league season.. 0.733502538071066 Done
Hugo Bueno 2023/2024 Premier league season.. 0.7360406091370558 Done
Toti Gomes 2023/2024 Premier league season.. 0.7385786802030457 Done
Sasa Kalajdzic 2023/2024 Premier league season.. 0.7411167512690355 Done
Boubacar Traore 2023/2024 Premier league season.. 0.7436548223350253 Done
Milos Kerkez 2023/2024 Premier league season.. 0.7461928934010152 Done
Neto 2023/2024 Premier league season.. 0.748730964467005 Done
Dominic Solanke 2023/2024 Premier league season.. 0.751269035532995 Done
Illia Zabarnyi 2023/2024 Premier league season.. 0.7538071065989848 Done
Philip Billing 2023/2024 Premier league season.. 0.7563451776649747 Done
Max Aarons 2023/2024 Premier league season.. 0.7588832487309645 Done
Ryan Christie 2023/2024 Premier league season.. 0.7614213197969543 Done
Marcos Senesi 2023/2024 Premier league season.. 0.7639593908629442 Done
Antoine Semenyo 2023/2024 Premier league season.. 0.766497461928934 Done
Joe Rothwell 2023/2024 Premier league season.. 0.7690355329949239 Done
Justin Kluivert 2023/2024 Premier league season.. 0.7715736040609137 Done
Jaidon Anthony 2023/2024 Premier league season.. 0.7741116751269036 Done
David Brooks 2023/2024 Premier league season.. 0.7766497461928934 Done
Lewis Cook 2023/2024 Premier league season.. 0.7791878172588832 Done
Lloyd Kelly 2023/2024 Premier league season.. 0.7817258883248731 Done
Kieffer Moore 2023/2024 Premier league season.. 0.7842639593908629 Done
Hamed Junior Traore 2023/2024 Premier league season.. 0.7868020304568528 Done
Chris Mepham 2023/2024 Premier league season.. 0.7893401015228426 Done
Marcus Tavernier 2023/2024 Premier league season.. 0.7918781725888325 Done
James Hill 2023/2024 Premier league season.. 0.7944162436548223 Done
Anel Ahmedhodzic 2023/2024 Premier league season.. 0.7969543147208121 Done
Wes Foderingham 2023/2024 Premier league season.. 0.799492385786802 Done
Oliver Norwood 2023/2024 Premier league season.. 0.8020304568527918 Done
Jack Robinson 2023/2024 Premier league season.. 0.8045685279187818 Done
John Egan 2023/2024 Premier league season.. 0.8071065989847716 Done
Benie Adama Traore 2023/2024 Premier league season.. 0.8096446700507615 Done
Gustavo Hamer 2023/2024 Premier league season.. 0.8121827411167513 Done
George Baldock 2023/2024 Premier league season.. 0.8147208121827412 Done
Vinicius Souza 2023/2024 Premier league season.. 0.817258883248731 Done
William Osula 2023/2024 Premier league season.. 0.8197969543147208 Done
Ben Osborn 2023/2024 Premier league season.. 0.8223350253807107 Done
Max Lowe 2023/2024 Premier league season.. 0.8248730964467005 Done
Yasser Larouci 2023/2024 Premier league season.. 0.8274111675126904 Done
Chris Basham 2023/2024 Premier league season.. 0.8299492385786802 Done
Oliver McBurnie 2023/2024 Premier league season.. 0.8324873096446701 Done
Cameron Archer 2023/2024 Premier league season.. 0.8350253807106599 Done
Luke Thomas 2023/2024 Premier league season.. 0.8375634517766497 Done
Andre Brooks 2023/2024 Premier league season.. 0.8401015228426396 Done
Jayden Bogle 2023/2024 Premier league season.. 0.8426395939086294 Done
Antwoine Hackford 2023/2024 Premier league season.. 0.8451776649746193 Done
Anis Ben Slimane 2023/2024 Premier league season.. 0.8477157360406091 Done
Amadou Onana 2023/2024 Premier league season.. 0.850253807106599 Done
Nathan Patterson 2023/2024 Premier league season.. 0.8527918781725888 Done
Jordan Pickford 2023/2024 Premier league season.. 0.8553299492385786 Done
Ashley Young 2023/2024 Premier league season.. 0.8578680203045685 Done
Abdoulaye Doucoure 2023/2024 Premier league season.. 0.8604060913705583 Done
James Tarkowski 2023/2024 Premier league season.. 0.8629441624365483 Done
James Garner 2023/2024 Premier league season.. 0.8654822335025381 Done
Idrissa Gana Gueye 2023/2024 Premier league season.. 0.868020304568528 Done

Arnaut Danjuma 2023/2024 Premier league season.. 0.8705583756345178 Done
Michael Keane 2023/2024 Premier league season.. 0.8730964467005076 Done
Jarrad Branthwaite 2023/2024 Premier league season.. 0.8756345177664975 Done
Alex Iwobi 2023/2024 Premier league season.. 0.8781725888324873 Done
Lewis Dobbin 2023/2024 Premier league season.. 0.8807106598984772 Done
Neal Maupay 2023/2024 Premier league season.. 0.883248730964467 Done
Beto 2023/2024 Premier league season.. 0.8857868020304569 Done
Dominic Calvert Lewin 2023/2024 Premier league season.. 0.8883248730964467 Done
Youssef Chermiti 2023/2024 Premier league season.. 0.8908629441624365 Done
Dwight McNeil 2023/2024 Premier league season.. 0.8934010152284264 Done
Thomas Cannon 2023/2024 Premier league season.. 0.8959390862944162 Done
Ben Godfrey 2023/2024 Premier league season.. 0.8984771573604061 Done
Tyler Onyango 2023/2024 Premier league season.. 0.9010152284263959 Done
Amarii Bell 2023/2024 Premier league season.. 0.9035532994923858 Done
Thomas Kaminski 2023/2024 Premier league season.. 0.9060913705583756 Done
Carlton Morris 2023/2024 Premier league season.. 0.9086294416243654 Done
Marvelous Nakamba 2023/2024 Premier league season.. 0.9111675126903553 Done
Ryan John Giles 2023/2024 Premier league season.. 0.9137055837563451 Done
Tahith Chong 2023/2024 Premier league season.. 0.916243654822335 Done
Elijah Adebayo 2023/2024 Premier league season.. 0.9187817258883249 Done
Tom Lockyer 2023/2024 Premier league season.. 0.9213197969543148 Done
Mads Juel Andersen 2023/2024 Premier league season.. 0.9238578680203046 Done
Reece Burke 2023/2024 Premier league season.. 0.9263959390862944 Done
Issa Kabore 2023/2024 Premier league season.. 0.9289340101522843 Done
Ross Barkley 2023/2024 Premier league season.. 0.9314720812182741 Done
Alfie Doughty 2023/2024 Premier league season.. 0.934010152284264 Done
Pelly Ruddock Mpanzu 2023/2024 Premier league season.. 0.9365482233502538 Done
Jacob Brown 2023/2024 Premier league season.. 0.9390862944162437 Done
Chiedozie Ogbene 2023/2024 Premier league season.. 0.9416243654822335 Done
Cauley Woodrow 2023/2024 Premier league season.. 0.9441624365482234 Done
Luke Berry 2023/2024 Premier league season.. 0.9467005076142132 Done
Josh Cullen 2023/2024 Premier league season.. 0.949238578680203 Done
Ameen Al Dakhil 2023/2024 Premier league season.. 0.9517766497461929 Done
Dara OShea 2023/2024 Premier league season.. 0.9543147208121827 Done
Connor Roberts 2023/2024 Premier league season.. 0.9568527918781726 Done
James Trafford 2023/2024 Premier league season.. 0.9593908629441624 Done
Lyle Foster 2023/2024 Premier league season.. 0.9619289340101523 Done
Sander Berge 2023/2024 Premier league season.. 0.9644670050761421 Done
Zeki Amdouni 2023/2024 Premier league season.. 0.9670050761421319 Done
Luca Koleosho 2023/2024 Premier league season.. 0.9695431472081218 Done
Jordan Beyer 2023/2024 Premier league season.. 0.9720812182741116 Done
Hannes Delcroix 2023/2024 Premier league season.. 0.9746192893401016 Done
Johann Berg Gudmundsson 2023/2024 Premier league season.. 0.9771573604060914 Done
Vitinho 2023/2024 Premier league season.. 0.9796954314720813 Done
Benson Manuel 2023/2024 Premier league season.. 0.9822335025380711 Done
Jacob Bruun Larsen 2023/2024 Premier league season.. 0.9847715736040609 Done
Nathan Redmond 2023/2024 Premier league season.. 0.9873096446700508 Done
Josh Brownhill 2023/2024 Premier league season.. 0.9898477157360406 Done
Anass Zaroury 2023/2024 Premier league season.. 0.9923857868020305 Done
Aaron Ramsey 2023/2024 Premier league season.. 0.9949238578680203 Done
Jack Cork 2023/2024 Premier league season.. 0.9974619289340102 Done
Jay Rodriguez 2023/2024 Premier league season.. 1.0 Done

In [196]:
len(all_season_stats)

1

In [2]:
import pandas as pd
player_data = pd.concat(all_season_stats)

NameError: name 'all_season_stats' is not defined

In [3]:
player_data

NameError: name 'player_data' is not defined

In [250]:
player_data = player_data[player_data['Pos'] != 'On matchday squad, but did not play']

In [251]:
s = player_data

In [256]:
player_data.columns
player_data = player_data[['name', 'season', 'Date', 'Day', 'Comp', 'Round', 'Venue', 'Result', 'Squad', 'Opponent',
       'Start', 'Pos', 'Min', 'Gls', 'Ast', 'PK', 'PKatt', 'Sh', 'SoT', 'CrdY',
       'CrdR', 'Touches', 'Tkl', 'Int', 'Blocks', 'xG', 'npxG', 'xAG', 'SCA',
       'GCA', 'Cmp', 'Att', 'Cmp%', 'PrgP', 'Carries', 'PrgC', 'Att', 'Succ',
       'Match Report']]

In [258]:
player_data['Pos']

1            [GK]
3            [GK]
4            [GK]
5            [GK]
1    [LM, AM, FW]
         ...
4            [CM]
0            [FW]
0            [FW]
4            [CM]
0            [FW]
Name: Pos, Length: 1180, dtype: object

In [260]:
#player_data['Pos'] = player_data['Pos'].str.split(',')
filtered_players = player_data[player_data['Pos'].apply(lambda pos_list: 'FW' in pos_list)]
#player_with_appearances.columns
# Duplicate rows for each position

1    [LM, AM, FW]
1            [FW]
3            [FW]
4            [FW]
5            [FW]
         ...
4            [FW]
0            [FW]
0            [FW]
0            [FW]
0            [FW]
Name: Pos, Length: 177, dtype: object

In [263]:
filtered_players.to_csv("PL2022-23Explodeseason.csv")

In [265]:
second_df = pd.read_csv('players_2223.csv')

In [266]:
second_df['name'] = second_df['first_name'] + " " + second_df['second_name']

In [268]:
second_df = second_df.drop(['first_name', 'second_name'], axis = 'columns')

In [269]:
import pandas as pd

# Sample DataFrame 1 (with player names)

df1 = filtered_players


# Filter the second DataFrame to include only forwards
filtered_df2 = second_df[second_df['element_type'] == 'FWD']

# Merge the two DataFrames on the 'Player' column
result_df = df1.merge(filtered_df2, on='name', how='inner')

print(result_df)

              name     season        Date  Day            Comp        Round  \
0   Erling Haaland  2023/2024  2023-08-11  Fri  Premier League  Matchweek 1
1   Erling Haaland  2023/2024  2023-08-19  Sat  Premier League  Matchweek 2
2   Erling Haaland  2023/2024  2023-08-27  Sun  Premier League  Matchweek 3
3   Erling Haaland  2023/2024  2023-09-02  Sat  Premier League  Matchweek 4
4       Cody Gakpo  2023/2024  2023-08-27  Sun  Premier League  Matchweek 3
..             ...        ...         ...  ...             ...          ...
90     Lyle Foster  2023/2024  2023-09-02  Sat  Premier League  Matchweek 4
91    Zeki Amdouni  2023/2024  2023-08-11  Fri  Premier League  Matchweek 1
92    Zeki Amdouni  2023/2024  2023-08-27  Sun  Premier League  Matchweek 3
93    Zeki Amdouni  2023/2024  2023-09-02  Sat  Premier League  Matchweek 4
94   Jay Rodriguez  2023/2024  2023-08-27  Sun  Premier League  Matchweek 3

   Venue Result            Squad         Opponent  ... threat bonus  bps  \
0   Away  W 3–0  Manchester City          Burnley  ...  248.0     6  161
1   Home  W 1–0  Manchester City    Newcastle Utd  ...  248.0     6  161
2   Away  W 2–1  Manchester City    Sheffield Utd  ...  248.0     6  161
3   Home  W 5–1  Manchester City           Fulham  ...  248.0     6  161
4   Away  W 2–1        Liverpool    Newcastle Utd  ...   21.0     0   18
..   ...    ...              ...              ...  ...    ...   ...  ...
90  Home  L 2–5          Burnley        Tottenham  ...   76.0     1   53
91  Home  L 0–3          Burnley  Manchester City  ...   36.0     0   18
92  Home  L 1–3          Burnley      Aston Villa  ...   36.0     0   18
93  Home  L 2–5          Burnley        Tottenham  ...   36.0     0   18
94  Home  L 1–3          Burnley      Aston Villa  ...    5.0     0   -3

   ict_index clean_sheets red_cards yellow_cards selected_by_percent now_cost  \
0       54.4            2         0            0                91.9      141
1       54.4            2         0            0                91.9      141
2       54.4            2         0            0                91.9      141
3       54.4            2         0            0                91.9      141
4        7.1            0         0            0                 3.7       73
..       ...          ...       ...          ...                 ...      ...
90      18.5            0         0            0                 0.6       50
91       8.1            0         0            0                 0.1       55
92       8.1            0         0            0                 0.1       55
93       8.1            0         0            0                 0.1       55
94       0.1            0         0            0                 0.2       54

   element_type
0           FWD
1           FWD
2           FWD
3           FWD
4           FWD
..          ...
90          FWD
91          FWD
92          FWD
93          FWD
94          FWD

[95 rows x 58 columns]

In [270]:
result_df.to_csv("FixedForwards.csv")

In [140]:
player_data.to_csv("PLALLEverySeason-withappearances.csv")

In [59]:
player_data.to_excel("PLALLEverySeason-withappearances.xlsx")

In [191]:
data  = pd.read_csv("PL2022-23season.csv")
data

,Unnamed: 0,Date,Day,Comp,Round,Venue,Result,Squad,Opponent,Start,...,Att,Cmp%,PrgP,Carries,PrgC,Att.1,Succ,Match Report,name,season
0,1,2023-08-11,Fri,Premier League,Matchweek 1,Away,W 3–0,Manchester City,Burnley,Y,...,11.0,81.8,1.0,15.0,1.0,0.0,0.0,Match Report,Erling Haaland,2023/2024
1,3,2023-08-19,Sat,Premier League,Matchweek 2,Home,W 1–0,Manchester City,Newcastle Utd,Y,...,11.0,54.5,1.0,15.0,3.0,1.0,0.0,Match Report,Erling Haaland,2023/2024
2,4,2023-08-27,Sun,Premier League,Matchweek 3,Away,W 2–1,Manchester City,Sheffield Utd,Y,...,11.0,54.5,0.0,15.0,0.0,1.0,1.0,Match Report,Erling Haaland,2023/2024
3,5,2023-09-02,Sat,Premier League,Matchweek 4,Home,W 5–1,Manchester City,Fulham,Y,...,6.0,66.7,1.0,9.0,0.0,1.0,0.0,Match Report,Erling Haaland,2023/2024
4,4,2023-09-02,Sat,Premier League,Matchweek 4,Away,W 5–2,Tottenham,Burnley,Y*,...,18.0,83.3,5.0,18.0,3.0,1.0,0.0,Match Report,Son Heung min,2023/2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,4,2023-09-02,Sat,Premier League,Matchweek 4,Home,L 2–5,Burnley,Tottenham,Y,...,16.0,87.5,3.0,17.0,2.0,2.0,1.0,Match Report,Zeki Amdouni,2023/2024
140,0,2023-08-11,Fri,Premier League,Matchweek 1,Home,L 0–3,Burnley,Manchester City,N,...,5.0,80.0,0.0,7.0,1.0,4.0,0.0,Match Report,Benson Manuel,2023/2024
141,0,2023-08-11,Fri,Premier League,Matchweek 1,Home,L 0–3,Burnley,Manchester City,N,...,12.0,83.3,0.0,6.0,0.0,0.0,0.0,Match Report,Anass Zaroury,2023/2024
142,0,2023-08-27,Sun,Premier League,Matchweek 3,Home,L 1–3,Burnley,Aston Villa,N,...,5.0,80.0,1.0,5.0,0.0,0.0,0.0,Match Report,Aaron Ramsey,2023/2024
143,0,2023-08-27,Sun,Premier League,Matchweek 3,Home,L 1–3,Burnley,Aston Villa,N,...,2.0,50.0,0.0,2.0,0.0,0.0,0.0,Match Report,Jay Rodriguez,2023/2024

In [192]:
player_data.columns
player_data = data [['Round', 'Min','Pos', 'Sh', 'SoT', 'Touches', 'Tkl', 'Int', 'Blocks', 'xG',
       'npxG', 'xAG', 'SCA', 'GCA', 'Cmp', 'Att', 'Cmp%', 'PrgP', 'Carries',
       'PrgC', 'Att', 'Succ', 'name']]

,Round,Min,Pos,Sh,SoT,Touches,Tkl,Int,Blocks,xG,...,GCA,Cmp,Att,Cmp%,PrgP,Carries,PrgC,Att,Succ,name
0,Matchweek 1,79.0,FW,4.0,2.0,18.0,0.0,0.0,0.0,0.6,...,0.0,9.0,11.0,81.8,1.0,15.0,1.0,11.0,0.0,Erling Haaland
1,Matchweek 2,90.0,FW,4.0,2.0,22.0,0.0,1.0,1.0,0.4,...,0.0,6.0,11.0,54.5,1.0,15.0,3.0,11.0,0.0,Erling Haaland
2,Matchweek 3,90.0,FW,7.0,3.0,23.0,0.0,0.0,0.0,2.1,...,1.0,6.0,11.0,54.5,0.0,15.0,0.0,11.0,1.0,Erling Haaland
3,Matchweek 4,90.0,FW,3.0,2.0,17.0,0.0,0.0,0.0,1.6,...,1.0,4.0,6.0,66.7,1.0,9.0,0.0,6.0,0.0,Erling Haaland
4,Matchweek 4,71.0,FW,5.0,3.0,27.0,0.0,0.0,0.0,1.1,...,1.0,15.0,18.0,83.3,5.0,18.0,3.0,18.0,0.0,Son Heung min
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,Matchweek 4,59.0,FW,1.0,0.0,24.0,4.0,0.0,1.0,0.0,...,0.0,14.0,16.0,87.5,3.0,17.0,2.0,16.0,1.0,Zeki Amdouni
140,Matchweek 1,17.0,FW,0.0,0.0,9.0,0.0,0.0,0.0,0.0,...,0.0,4.0,5.0,80.0,0.0,7.0,1.0,5.0,0.0,Benson Manuel
141,Matchweek 1,29.0,FW,1.0,0.0,13.0,0.0,0.0,0.0,0.0,...,0.0,10.0,12.0,83.3,0.0,6.0,0.0,12.0,0.0,Anass Zaroury
142,Matchweek 3,23.0,FW,0.0,0.0,6.0,0.0,0.0,0.0,0.0,...,0.0,4.0,5.0,80.0,1.0,5.0,0.0,5.0,0.0,Aaron Ramsey
143,Matchweek 3,10.0,FW,2.0,0.0,4.0,0.0,0.0,0.0,0.5,...,0.0,1.0,2.0,50.0,0.0,2.0,0.0,2.0,0.0,Jay Rodriguez

In [193]:

player_data = player_data.drop(['Pos'], axis="columns")
grouped = player_data.groupby('name')
average_stats = grouped.mean()

ValueError: columns must be unique

In [185]:
average_stats

,Min,Sh,SoT,Touches,Tkl,Int,Blocks,xG,npxG,xAG,SCA,GCA,Cmp,Att,Cmp%,PrgP,Carries,PrgC,Att,Succ
name,,,,,,,,,,,,,,,,,,,,
Aaron Ramsey,23.000000,0.000000,0.000000,6.000000,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,4.000000,5.000000,80.000000,1.0,5.000000,0.000000,5.000000,0.000000
Abdoulaye Doucoure,90.000000,3.000000,2.000000,46.500000,0.5,0.00,2.000000,0.850000,0.850000,0.500000,3.000000,0.50,29.500000,37.000000,80.100000,3.0,25.500000,3.000000,37.000000,0.500000
Adam Lallana,10.000000,0.000000,0.000000,16.000000,1.0,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,14.000000,14.000000,100.000000,1.0,7.000000,0.000000,14.000000,0.000000
Aleksandar Mitrovic,33.000000,2.000000,1.000000,12.000000,0.0,0.00,0.000000,0.200000,0.200000,0.000000,2.000000,1.00,4.000000,8.000000,50.000000,1.0,5.000000,0.000000,8.000000,3.000000
Alexander Isak,67.666667,1.333333,1.333333,14.666667,0.0,0.00,0.000000,0.333333,0.333333,0.033333,1.666667,0.00,8.000000,10.333333,78.333333,1.0,10.333333,1.000000,10.333333,0.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Thomas Cannon,1.000000,0.000000,0.000000,0.000000,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,NaN,0.0,0.000000,0.000000,0.000000,0.000000
William Osula,77.666667,1.000000,0.000000,20.000000,0.0,0.00,0.666667,0.066667,0.066667,0.000000,0.333333,0.00,4.666667,9.666667,49.866667,0.0,10.000000,0.666667,9.666667,0.000000
Yoane Wissa,82.250000,3.750000,1.250000,26.750000,0.5,0.25,1.500000,0.600000,0.600000,0.025000,1.250000,0.25,10.500000,14.250000,75.550000,1.0,13.000000,1.500000,14.250000,0.500000
Youssef Chermiti,25.000000,1.000000,0.000000,10.000000,0.0,0.00,0.000000,0.100000,0.100000,0.000000,0.000000,0.00,4.000000,5.000000,80.000000,1.0,8.000000,0.000000,5.000000,0.000000
Zeki Amdouni,59.500000,1.000000,0.500000,23.500000,2.5,0.00,0.500000,0.000000,0.000000,0.100000,1.000000,0.00,12.000000,13.500000,89.200000,1.5,14.000000,1.500000,13.500000,1.500000

In [186]:
average_stats.reset_index(inplace=True)
average_stats

,name,Min,Sh,SoT,Touches,Tkl,Int,Blocks,xG,npxG,...,SCA,GCA,Cmp,Att,Cmp%,PrgP,Carries,PrgC,Att,Succ
0,Aaron Ramsey,23.000000,0.000000,0.000000,6.000000,0.0,0.00,0.000000,0.000000,0.000000,...,0.000000,0.00,4.000000,5.000000,80.000000,1.0,5.000000,0.000000,5.000000,0.000000
1,Abdoulaye Doucoure,90.000000,3.000000,2.000000,46.500000,0.5,0.00,2.000000,0.850000,0.850000,...,3.000000,0.50,29.500000,37.000000,80.100000,3.0,25.500000,3.000000,37.000000,0.500000
2,Adam Lallana,10.000000,0.000000,0.000000,16.000000,1.0,0.00,0.000000,0.000000,0.000000,...,0.000000,0.00,14.000000,14.000000,100.000000,1.0,7.000000,0.000000,14.000000,0.000000
3,Aleksandar Mitrovic,33.000000,2.000000,1.000000,12.000000,0.0,0.00,0.000000,0.200000,0.200000,...,2.000000,1.00,4.000000,8.000000,50.000000,1.0,5.000000,0.000000,8.000000,3.000000
4,Alexander Isak,67.666667,1.333333,1.333333,14.666667,0.0,0.00,0.000000,0.333333,0.333333,...,1.666667,0.00,8.000000,10.333333,78.333333,1.0,10.333333,1.000000,10.333333,0.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,Thomas Cannon,1.000000,0.000000,0.000000,0.000000,0.0,0.00,0.000000,0.000000,0.000000,...,0.000000,0.00,0.000000,0.000000,NaN,0.0,0.000000,0.000000,0.000000,0.000000
61,William Osula,77.666667,1.000000,0.000000,20.000000,0.0,0.00,0.666667,0.066667,0.066667,...,0.333333,0.00,4.666667,9.666667,49.866667,0.0,10.000000,0.666667,9.666667,0.000000
62,Yoane Wissa,82.250000,3.750000,1.250000,26.750000,0.5,0.25,1.500000,0.600000,0.600000,...,1.250000,0.25,10.500000,14.250000,75.550000,1.0,13.000000,1.500000,14.250000,0.500000
63,Youssef Chermiti,25.000000,1.000000,0.000000,10.000000,0.0,0.00,0.000000,0.100000,0.100000,...,0.000000,0.00,4.000000,5.000000,80.000000,1.0,8.000000,0.000000,5.000000,0.000000
64,Zeki Amdouni,59.500000,1.000000,0.500000,23.500000,2.5,0.00,0.500000,0.000000,0.000000,...,1.000000,0.00,12.000000,13.500000,89.200000,1.5,14.000000,1.500000,13.500000,1.500000

In [188]:
mean_Comp = average_stats['Cmp%'].mean()
average_stats['Cmp%'].fillna(mean_Comp, inplace=True)

In [189]:
average_stats.to_csv("FinalCleanedValues-2223SeasonPl.csv")

In [190]:
average_stats.columns

Index(['name', 'Min', 'Sh', 'SoT', 'Touches', 'Tkl', 'Int', 'Blocks', 'xG',
       'npxG', 'xAG', 'SCA', 'GCA', 'Cmp', 'Att', 'Cmp%', 'PrgP', 'Carries',
       'PrgC', 'Att', 'Succ'],
      dtype='object')