<h1> FPL 2021/22 Season, working with Forwards </h1>

In [36]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [37]:
df = pd.read_csv("FWD_2021-22.csv")
df.head()

,name,position,team,xP,assists,bonus,bps,clean_sheets,creativity,element,...,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,GW
0,Keinan Davis,FWD,Aston Villa,0.4,0,0,0,0,0.0,49,...,3,0,0,0,0,0,45,False,0,1
1,Joshua King,FWD,Watford,0.0,0,0,0,0,0.0,468,...,3,0,0,0,0,0,55,True,0,1
2,Richarlison de Andrade,FWD,Everton,2.4,1,3,41,0,29.3,180,...,3,37,11,0,0,0,75,True,1,1
3,Armando Broja,FWD,Southampton,1.3,0,0,0,0,0.0,518,...,3,0,0,0,0,0,50,False,0,1
4,Stipe Perica,FWD,Watford,0.5,0,0,0,0,0.0,388,...,3,0,0,0,0,0,45,True,0,1

In [38]:
df.columns

Index(['name', 'position', 'team', 'xP', 'assists', 'bonus', 'bps',
       'clean_sheets', 'creativity', 'element', 'fixture', 'goals_conceded',
       'goals_scored', 'ict_index', 'influence', 'kickoff_time', 'minutes',
       'opponent_team', 'own_goals', 'penalties_missed', 'penalties_saved',
       'red_cards', 'round', 'saves', 'selected', 'team_a_score',
       'team_h_score', 'threat', 'total_points', 'transfers_balance',
       'transfers_in', 'transfers_out', 'value', 'was_home', 'yellow_cards',
       'GW'],
      dtype='object')

In [39]:
df= df[df['minutes'] > 0 ]

In [40]:
print(df.size)

50508

In [41]:
forward_features = ['name', 'team','opponent_team', 'xP', 'creativity', 'element', 'ict_index', 'influence', 'kickoff_time', 'threat',  'value', 'was_home']

In [42]:
df_FWD = df[forward_features]

In [43]:
df_FWD

,name,team,opponent_team,xP,creativity,element,ict_index,influence,kickoff_time,threat,value,was_home
2,Richarlison de Andrade,Everton,16,2.4,29.3,180,13.0,63.8,2021-08-14T14:00:00Z,37,75,True
8,Raúl Jiménez,Wolves,9,1.9,36.9,430,5.9,4.0,2021-08-14T14:00:00Z,18,75,False
9,Emmanuel Dennis,Watford,2,0.8,33.4,450,18.3,62.2,2021-08-14T14:00:00Z,87,50,True
11,Che Adams,Southampton,8,2.2,18.3,345,5.5,26.4,2021-08-14T14:00:00Z,10,70,False
14,Jean-Philippe Mateta,Crystal Palace,6,1.1,1.3,159,0.8,6.4,2021-08-14T14:00:00Z,0,55,False
...,...,...,...,...,...,...,...,...,...,...,...,...
3383,João Pedro Junqueira de Jesus,Watford,6,1.2,0.0,404,0.0,0.0,2022-05-22T15:00:00Z,0,54,False
3384,Neal Maupay,Brighton,19,0.6,0.0,63,0.0,0.0,2022-05-22T15:00:00Z,0,62,True
3385,Danny Welbeck,Brighton,19,8.2,0.0,447,0.0,0.0,2022-05-22T15:00:00Z,0,60,True
3389,Michail Antonio,West Ham,4,3.6,0.0,413,0.0,0.0,2022-05-22T15:00:00Z,0,73,False
3391,Juan Camilo Hernández Suárez,Watford,6,-0.6,0.0,472,0.0,0.0,2022-05-22T15:00:00Z,0,49,False

In [44]:
df_FWD.loc[:, 'time'] = pd.to_datetime(df_FWD['kickoff_time']).dt.strftime('%H:%M')

C:\Users\salee\AppData\Local\Temp\ipykernel_31544\40025024.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_FWD.loc[:, 'time'] = pd.to_datetime(df_FWD['kickoff_time']).dt.strftime('%H:%M')

In [45]:
df_FWD

,name,team,opponent_team,xP,creativity,element,ict_index,influence,kickoff_time,threat,value,was_home,time
2,Richarlison de Andrade,Everton,16,2.4,29.3,180,13.0,63.8,2021-08-14T14:00:00Z,37,75,True,14:00
8,Raúl Jiménez,Wolves,9,1.9,36.9,430,5.9,4.0,2021-08-14T14:00:00Z,18,75,False,14:00
9,Emmanuel Dennis,Watford,2,0.8,33.4,450,18.3,62.2,2021-08-14T14:00:00Z,87,50,True,14:00
11,Che Adams,Southampton,8,2.2,18.3,345,5.5,26.4,2021-08-14T14:00:00Z,10,70,False,14:00
14,Jean-Philippe Mateta,Crystal Palace,6,1.1,1.3,159,0.8,6.4,2021-08-14T14:00:00Z,0,55,False,14:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3383,João Pedro Junqueira de Jesus,Watford,6,1.2,0.0,404,0.0,0.0,2022-05-22T15:00:00Z,0,54,False,15:00
3384,Neal Maupay,Brighton,19,0.6,0.0,63,0.0,0.0,2022-05-22T15:00:00Z,0,62,True,15:00
3385,Danny Welbeck,Brighton,19,8.2,0.0,447,0.0,0.0,2022-05-22T15:00:00Z,0,60,True,15:00
3389,Michail Antonio,West Ham,4,3.6,0.0,413,0.0,0.0,2022-05-22T15:00:00Z,0,73,False,15:00
3391,Juan Camilo Hernández Suárez,Watford,6,-0.6,0.0,472,0.0,0.0,2022-05-22T15:00:00Z,0,49,False,15:00

In [46]:
df_FWD.shape

(1403, 13)

In [47]:
df_FWD = df_FWD.drop('kickoff_time', axis = 'columns')

In [48]:
df_FWD

,name,team,opponent_team,xP,creativity,element,ict_index,influence,threat,value,was_home,time
2,Richarlison de Andrade,Everton,16,2.4,29.3,180,13.0,63.8,37,75,True,14:00
8,Raúl Jiménez,Wolves,9,1.9,36.9,430,5.9,4.0,18,75,False,14:00
9,Emmanuel Dennis,Watford,2,0.8,33.4,450,18.3,62.2,87,50,True,14:00
11,Che Adams,Southampton,8,2.2,18.3,345,5.5,26.4,10,70,False,14:00
14,Jean-Philippe Mateta,Crystal Palace,6,1.1,1.3,159,0.8,6.4,0,55,False,14:00
...,...,...,...,...,...,...,...,...,...,...,...,...
3383,João Pedro Junqueira de Jesus,Watford,6,1.2,0.0,404,0.0,0.0,0,54,False,15:00
3384,Neal Maupay,Brighton,19,0.6,0.0,63,0.0,0.0,0,62,True,15:00
3385,Danny Welbeck,Brighton,19,8.2,0.0,447,0.0,0.0,0,60,True,15:00
3389,Michail Antonio,West Ham,4,3.6,0.0,413,0.0,0.0,0,73,False,15:00
3391,Juan Camilo Hernández Suárez,Watford,6,-0.6,0.0,472,0.0,0.0,0,49,False,15:00